<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= header %> </title>
    <link rel="shortcut icon" href="images/favicon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7B18RJBGJS"></script>
    
    <!-- Clicky Analytics -->
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101287368);</script>
    <script async src="//static.getclicky.com/js"></script>
	
</head>