<!DOCTYPE html>
<html lang="el">
    <%- include("header") -%>
<body>

    <% if (error) { %>
        <script>alert("Παρακαλώ χρησιμοποιήστε τα προτεινόμενα ονόματα χωρών");</script>
    <% } %>

    <% if (missingData) { %>
        <script>alert("Λυπάμαι, δεν υπάρχουν καταγεγραμμένα δεδομένα για αυτήν τη χώρα");</script>
    <% } %>

    <div class="main" id="mainInd">

        <h1 id="resultsHeaderIndex">Covid-19</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form" action="/el" autocomplete="off">
                    <h2 class="form-title">Covid-19 Tracke</h2>

                    <p class="loginhere" id="subtitle">
                        <a href="/" class="loginhere-link">English</a>
                    </p>

                    <center>
                        <div class="form-textbox">
                            <input type="text" name="countryName" id="name" placeholder="Όνομα χώρας" />
                        </div>
    
                        <br>
    
                        <div class="form-textbox">
                            <input type="submit" name="submit" id="submitbtn" class="submit" value="Εμφάνιση" />
                        </div>

                        <h4>Η</h4>

                        <div class="form-textbox">
                            <a href="/compare/el"><button id="btn" type="button">Σύγκριση δύο χωρών</button></a> 
                        </div>
                    </center>

                </form>

                <script>
                    function autocomplete(inp, arr) {
                    var currentFocus;
                    
                    inp.addEventListener("input", function(e) {
                        var a, b, i, val = this.value;
            
                        closeAllLists();
                        if (!val) { return false;}
                        currentFocus = -1;
                        
                        a = document.createElement("DIV");
                        a.setAttribute("id", this.id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        
                        this.parentNode.appendChild(a);
                        
                        for (i = 0; i < arr.length; i++) {
                            
                            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            /*make the matching letters bold:*/
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener("click", function(e) {
                                /*insert the value for the autocomplete text field:*/
                                inp.value = this.getElementsByTagName("input")[0].value;
                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                closeAllLists();
                            });
                            a.appendChild(b);
                            }
                        }
                    });
                    inp.addEventListener("keydown", function(e) {
                        var x = document.getElementById(this.id + "autocomplete-list");
                        if (x) x = x.getElementsByTagName("div");
                        if (e.keyCode == 40) {
                            /*If the arrow DOWN key is pressed,
                            increase the currentFocus variable:*/
                            currentFocus++;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 38) { //up
                            /*If the arrow UP key is pressed,
                            decrease the currentFocus variable:*/
                            currentFocus--;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 13) {
                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                            e.preventDefault();
                            if (currentFocus > -1) {

                            if (x) x[currentFocus].click();
                            }
                        }
                    });
                    function addActive(x) {
                        /*a function to classify an item as "active":*/
                        if (!x) return false;
                        /*start by removing the "active" class on all items:*/
                        removeActive(x);
                        if (currentFocus >= x.length) currentFocus = 0;
                        if (currentFocus < 0) currentFocus = (x.length - 1);
                        /*add class "autocomplete-active":*/
                        x[currentFocus].classList.add("autocomplete-active");
                    }
                    function removeActive(x) {
            
                        for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                        }
                    }
                    function closeAllLists(elmnt) {
                        /*close all autocomplete lists in the document,
                        except the one passed as an argument:*/
                        var x = document.getElementsByClassName("autocomplete-items");
                        for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                        }
                    }

                    document.addEventListener("click", function (e) {
                        closeAllLists(e.target);
                    });
                    }
            
                    var countries = ["Μπαγκλαντές","Βέλγιο","Μπουρκίνα Φάσο","Βουλγαρία","Βοσνία και Ερζεγοβίνη","Μπαρμπάντος","Γουόλις και Φουτούνα","Saint Barthelemy","Βερμούδα","Μπρουνέι","Βολιβία","Μπαχρέιν","Μπουρούντι","Μπενίν","Μπουτάν","Ιαμαϊκή","Νησί Μπουβέ","Μποτσουάνα","Βραζιλία","Μπαχάμες","Τζέρσι","Λευκορωσία","Μπελίζ","Ρωσία","Ρουάντα","Σερβία","Ανατολικό Τιμόρ","Επανένωση","Τατζικιστάν","Ρουμανία","Τοκελάου","Γουινέα-Μπισάου","Γουατεμάλα","Ελλάδα","Ισημερινή Γουινέα","Γουαδελούπη","Ιαπωνία","Γουιάνα","Γκέρνσεϊ","Γαλλική Γουιάνα","Γεωργία","Γρενάδα","Ηνωμένο Βασίλειο","Γκαμπόν","Ελ Σαλβαδόρ","Γκινέα","Γκάμπια","Γροιλανδία","Γιβραλτάρ","Γκάνα","Ομάν","Τυνησία","Ιορδανία","Κροατία","Αΐτη","Ουγγαρία","Χονγκ Κονγκ","Ονδούρα","Βενεζουέλα","Πουέρτο Ρίκο","Παλαιστινιακή Επικράτεια","Παλάου","Πορτογαλία","Παραγουάη","Ιράκ","Παναμάς","Γαλλική Πολυνησία","Παπούα Νέα Γουινέα","Περού","Πακιστάν","Φιλιππίνες","Pitcairn","Πολωνία","Ζάμπια","Δυτική Σαχάρα","Εσθονία","Αίγυπτος","Νότια Αφρική","Εκουαδόρ","Ιταλία","Βιετνάμ","Νησιά του Σολομώντα","Αιθιοπία","Σομαλία","Ζιμπάμπουε","Σαουδική Αραβία","Ισπανία","Ερυθραία","Μαυροβούνιο","Μολδαβία","Μαδαγασκάρη","Άγιος Μάρτιν","Μαρόκο","Μονακό","Ουζμπεκιστάν","Μιανμάρ","Μάλι","Μακάο","Μογγολία","Νήσοι Μάρσαλ","Μακεδόνια","Μαυρίκιος","Μάλτα","Μαλάουι","Μαλδίβες","Μαρτινίκα","Μοντσερράτ","Μαυριτανία","Νήσος του Μαν","Ουγκάντα","Τανζανία","Μαλαισία","Μεξικό","Ισραήλ","Γαλλία","Αγία Ελένη","Φινλανδία","Φίτζι","Νήσοι Φώκλαντ","Μικρονησία","Νήσοι Φερόες","Νικαράγουα","Ολλανδία","Νορβηγία","Ναμίμπια","Βανουάτου","Νέα Καληδονία","Νησί Νόρφολκ","Νιγηρία","Νέα Ζηλανδία","Νεπάλ","Ναουρού","Νιούε","Ακτή Ελεφαντοστού","Ελβετία","Κολομβία","Κίνα","Καμερούν","Χιλή","Νησιά Κόκος","Καναδάς","Δημοκρατία του Κονγκό","Τσεχική Δημοκρατία","Κύπρος","Νησί των Χριστουγέννων","Κόστα Ρίκα","Κουράσω","Πράσινο Ακρωτήριο","Κούβα","Σουαζιλάνδη","Συρία","Sint Maarten","Κιργιζιστάν","Κενύα","Νότιο Σουδάν","Σουρινάμ","Καμπότζη","Κομόρες","Σλοβακία","Νότια Κορέα","Σλοβενία","Βόρεια Κορέα","Κουβέιτ","Σενεγάλη","Σαν Μαρίνο","Σιέρρα Λεόνε","Σεϋχέλλες","Καζακστάν","Νησιά Καϊμάν","Σιγκαπούρη","Σουηδία","Σουδάν","Δομινικανή Δημοκρατία","Ντομίνικα","Τζιμπουτί","Δανία","Γερμανία","Γέμενη","Αλγερία","Ηνωμένες Πολιτείες","Ουρουγουάη","Μαγιότ","Λίβανος","Αγία Λουκία","Λάος","Τουβαλού","Ταϊβάν","Τρινιντάντ και Τομπάγκο","Τουρκία","Σρι Λάνκα","Λιχτενστάιν","Λετονία","Τόνγκα","Λιθουανία","Λουξεμβούργο","Λιβερία","Λεσότο","Ταϊλάνδη","Τόγκο","Τσαντ","Λιβύη","Βατικάνο","Ηνωμένα Αραβικά Εμιράτα","Ανδόρα","Αντίγκουα και Μπαρμπούντα","Αφγανιστάν","Ανγκουίλα","Ισλανδία","Ιράν","Αρμενία","Αλβανία","Αγκόλα","Ανταρκτική","Αμερικάνικη Σαμόα","Αργεντίνη","Αυστραλία","Αυστρία","Αρούμπα","Ινδία","Νησιά Άλαντ","Αζερμπαϊτζάν","Ιρλανδία","Ινδονησία","Ουκρανία","Κατάρ","Μοζαμβίκη"];
            
                    autocomplete(document.getElementById("name"), countries);
                </script>

                <p class="loginhere">
                    <center>
                        <p>Τα δεδομένα προέρχονται από τo Worldometers</p>
                        <a href="https://github.com/adreaskar/covid19-world-api" class="loginhere-link">Github</a>
                    </center>
                    
                </p>
            </div>
            
        </div>

        <br>

        <center><div class="cred">
            Ανάπτυξη και συντήρηση: <br id="break"> <a href="mailto:adreas@karabetian.gr">Ανδρέας Καραμπετιάν</a>
        </center></div> 

    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>